---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<a 
  class="chip group relative overflow-hidden" 
  href={`/blog/tag/${encodeURIComponent(name)}/`}
  data-pagefind-filter="tag"
>
  <span class="relative z-10 transition-colors">
    <span class="opacity-50 font-normal mr-0.5">#</span>{name}
  </span>
</a>
